 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a Ruby on Rails developer.I have been working with Ruby and rails for about 2.5 years now, and still digging for more… </p>
                    <p>Currently I am working FullTime for CyberInfrastructure Pvt. Ltd.</p>
                    <p>You can email me at <mark> siva20078@gmail.com </mark> . I will be adding more with the right content..</p>
                    <p>Till then here is my <a class="white-link" href="https://about.me/sivan.k" target="_blank">about me.</a> page</p>
                </div>
<!--                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
            </div>
        </div>
    </section>