.avatar-image {
  border: 5px solid #ffffff;
  border-radius: 160px;
  height: 155px;
}
.white-link {
  color: #1D83C1 !important;
  background: #ffffff;
}

.navbar-default {
  background-color: transparent;
  border-bottom: 1px solid #37a1a9;
}
